@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	color: var(--font-color);
}

:root {
	--spacing-1: 8px;
	--spacing-2: 12px;
	--spacing-3: 16px;
	--spacing-4: 24px;
	--border-radius: 12px;
	--font-color: #323232;
}

h2 {
	font-family: "Work Sans", serif;
	margin: 0;
	margin-bottom: var(--spacing-2);
}

body {
	font-family: "Albert Sans", sans-serif;
	margin: 0;
	padding: 0 var(--spacing-3);
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	align-items: center;
	padding: var(--spacing-3) 0;
}

.nav-items {
	display: flex;
	list-style-type: none;
	padding: 0;
	align-items: center;
	margin: 0 0 0 auto;
}

.nav-item {
	margin: var(--spacing-1);
}

a {
	color: var(--font-color);
	text-decoration: none;
	font-weight: 600;
}

section {
	padding: var(--spacing-3) 0;
}

.about-me-container {
	display: flex;
}

.about-me-text {
	margin: 0 0 0 var(--spacing-2);
}

.about-me-text p {
	text-align: justify;
}

.portrait {
	width: 300px;
	border-radius: var(--border-radius);
	flex-shrink: 0;
	flex-grow: 0;
}

.portrait img {
	flex-grow: 0;
}

.education-entry h3 {
	margin: 0 0 var(--spacing-1) 0;
}

.education-entry p {
	margin: 0;
}

.education-entry p:last-child {
	margin: 0 0 var(--spacing-3) 0;
}

.experience-title h3 {
	display: inline;
	font-weight: bold;
}

.experience-place {
	margin: var(--spacing-1) 0 var(--spacing-2) 0;
}

.experience-description {
	margin: 0.25rem 0;
}

.experience-description-last {
	margin: 0;
}

.experience-duties-list {
	margin: 0 0 var(--spacing-3) 0;
}

details {
	cursor: pointer;
}

summary {
	list-style-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg");
}

@media only screen and (max-width: 600px) {
	.portrait {
		align-self: center;
	}

	.about-me-container {
		flex-direction: column;
	}

	.about-me-text {
		margin: var(--spacing-2) 0 0 0;
	}

	#second-aboutme-text {
		margin: 0;
	}
}
