<!DOCTYPE html>
<html lang="lv">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>KaB portfolio</title>
		<link rel="stylesheet" href="/static/css/index.css" />
	</head>
	<body>
		<header>
			<button id="poga1">meklēšana</button>
			<p id="nosaukums">KaB portfolio</p>
			<button id="poga1">rezervācija</button>
		</header>
		<div id="cukurins">
			<img
				id="attels"
				src="../atteli/cukurins.png"
				width="360px"
				height="440px"
				alt="Cukuriņš stock photo"
			/>
		</div>
		<div id="footerhp">
			<div id="mekpecrek">
				<div id="mekpecrekvirsraksts">Kristiāns Artis Bērziņš</div>
				<div id="meklesanasievade">
					<button id="mekletpoga">POGA1</button>
				</div>
			</div>
		</div>
	</body>
</html>
